@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');

:root {
  --font: 'Inter', sans-serif;
  --size: 16px;
  font-size: var(--size);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

input{
  font-size: var(--size);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: 400;
  height: 100%;
}

body > *{
  height: 100%;
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.material-icon {
  font-family: 'Material Symbols Sharp';
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;

  &.bold{
    font-variation-settings: 'FILL' 0, 'wght' 900, 'GRAD' 0, 'opsz' 24;
  }
}

// /* ===== Scrollbar CSS ===== */
// /* Firefox */
// * {
//   scrollbar-width: auto;
//   scrollbar-color: #fbc105 transparent;
// }

// /* Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//   width: 16px;
// }

// *::-webkit-scrollbar-track {
//   background: transparent;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: #fbc105;
//   border-radius: 10px;
//   border: 3px solid transparent;
// }

@layer components {
  .content-card {
    @apply flex flex-col gap-2 bg-foreground-900 rounded-3xl p-6;
  }

  .content-list {
    @apply flex-1 rounded-2xl lg:overflow-x-auto p-2 bg-foreground-900 ;
  }
}